# Ant project
dist/
build/

# Netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# Java specific
*.class

# General swap/backup files
*.so
*.log
*.out
*~
*.swp
*.lock

# Mac OS X clutter
*.DS_Store

# Windows clutter
Thumbs.db
